<% var firstSegment = page.path.split('/')[0] %>
<ul class="post-list">
    <%- site.categories.find({name: 'photos'}).posts%>
    <% var exceptCategories = ["photos", "projects"] %>
    <% page.posts.forEach(function(item){
    if(item.categories && item.categories.length){
    item.categories.forEach(function(category){
    if(category.name != exceptCategories[0] && category.name != exceptCategories[1]){ %>
    <li>
        <%- partial('_widget/post-box.ejs', {post: item}) %>
    </li>
    <% } }); } }); %>
    <%- partial('_widget/pagination.ejs', {page: page}) %>
</ul>