<html>
<%- partial('_partial/head.ejs') %>

<body>
<%- partial('_partial/side-nav.ejs') %>
<section class="content-section">
    <%- partial('_partial/header.ejs') %>
    <div class="content-wrapper">
        <%- body %>
    </div>
</section>
</body>
</html>