section.content-section {
    padding-left: $main-nav-min-width;
    display: inline-block;
    width: 100%;
    header.content-header {
        z-index: 20;
        position: fixed;
        width: 100%;
        background-color: #fafafa;
        padding-top: 10px;
        &.slide-in {
            visibility: hidden;
            animation: slide-in-header;
            animation-duration: 0.25s;
        }
        &.slide-out {
            animation: slide-out-header;
            animation-duration: 0.25s;
            visibility: visible;
        }
        .pointing.menu {
            padding-left: 20px;
            border-bottom: 1px solid #e0e0e0;
            .item {
                font-family: "Helvetica Neue", sans-serif !important;
                text-transform: uppercase;
                font-size: 12px;
                padding-bottom: 20px !important;
                &.back {
                    font-weight: bold;
                    padding-left: 0 !important;
                    color: rgba(0, 0, 0, 0.2) !important;
                    border-bottom: 2px solid $accent-color;
                    i {
                        color: $accent-color;
                    }
                }
                &:not(.active) {
                    color: #757575;
                    font-size: 12px;
                }
            }
        }
    }
}