@media (max-width: 768px) {
  nav.main-nav {
    display: none !important;
  }
  .content-header {
    display: block !important;
    top: 60px !important;
    z-index: 10 !important;
    padding-top: 0px !important;
    background-color: rgba(255,255,255,0.9) !important;
    .ui.secondary.pointing.menu .item{
      padding-bottom: 14px !important;
    }
  }
  .content-wrapper{
    padding: 100px 20px 10px  !important;
  }
  section.content-section {
    padding-left: 0 !important;
    .content-header {
      display: none;
    }
    .mobile-top-menu {
      z-index: 20 !important;
      padding: 10px;
      display: block;
      padding-left: 20px;
      position: fixed;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #e0e0e0;
      background-color: #fff;
      //&.slide-in {
      //  visibility: hidden;
      //  animation: slide-in-header-m;
      //  animation-duration: 0.25s;
      //}
      //&.slide-out {
      //  animation: slide-out-header-m;
      //  animation-duration: 0.25s;
      //  visibility: visible;
      //}
      .menu-title {
        display: inline-block;
        .ion-menu-icon {
          &:before {
            font-family: "Ionicons";
            content: "\f394";
            font-size: 25px;
            vertical-align: middle;
            color: #909090;
            margin-right: 10px;
          }
        }
        .thumb {
          width: 40px;
          height: 40px;
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          background-image: url("https://avatars3.githubusercontent.com/u/3799158?v=3&s=460");
          border: 2px solid #e0e0e0;
          margin-right: 5px;
          background-position: center;
          background-size: cover
        }
        .content {
          display: inline-block;
          vertical-align: middle;

          .title {
            margin: 0;
            font-weight: normal;
            font-size: 18px;

          }
          .summary {
            font-size: 10px;
            color: #909090;
            text-overflow: ellipsis;
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.mobile-top-menu {
  display: none;
}

nav.main-nav {
  width: $main-nav-min-width;

  position: fixed;
  background-color: white;
  display: inline-block;
  height: 100vh;
  border-right: 1px solid #e0e0e0;
  font-family: "Helvetica Neue", sans-serif !important;
  padding: 20px;
  vertical-align: top;
  margin-right: -4px;
  background-image: url('../images/nav-bg.png');
  background-repeat: no-repeat;
  .main-nav-wrapper {
    width: 100%;
    height: calc(100% - 80px);
    display: table;
    .nav-footer {
      display: table-caption;
      vertical-align: bottom;
      text-align: center;
      caption-side: bottom;
      p {
        text-align: center;
        color: #909090;
        margin-bottom: 0;
        .github:after {
          content: "\f233";
          font-family: "Ionicons";
        }
      }
    }
    .profile-box {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      .social {
        font-family: "Ionicons";
        letter-spacing: 5px;
        .item {
          &:after {
            font-family: "Ionicons";
          }
          color: black !important;
          &.twitter:after {
            content: "\f243";
            //color: #00aced;
          }
          &.facebook:after {
            content: "\f231";
            //color: #3B5998;
          }
          &.instagram:after {
            content: "\f350";
            //background: -webkit-linear-gradient( #8a3ab9, #4c68d7, #e95950, #fccc63);
            //-webkit-background-clip: text;
            //-webkit-text-fill-color: transparent;
          }
          &.github:after {
            content: "\f233"
          }
          &.dribbble:after {
            content: "\f22d"
          }
        }
      }
      .thumb {
        width: 130px;
        height: 130px;
        background-image: url("https://avatars3.githubusercontent.com/u/3799158?v=3&s=460");
        border-radius: 50%;
        margin: auto;
        margin-bottom: 10px;
        background-position: center;
        background-size: cover;
      }
      .comment {
        color: #909090;
      }
      h3.name {
        font-family: "Helvetica Neue", sans-serif !important;
        font-weight: normal;
        .logo {
          vertical-align: middle;
          height: 20px;
          margin-right: 5px;
        }
        margin: 0;
        b {
          font-weight: bold;
        }
      }
      .divider {
        width: 80px;
        height: 1px;
        background: #e0e0e0;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }
  }
}

.main-nav-m {
  display: none;
  position: fixed;
  z-index: 11;
  width: 100%;
  &.slide-in {
    .shadow {
      transition: ease-in-out 0.4s;
      visibility: hidden;
    }
    .main-nav-wrapper {
      animation: slide-in-sidebar;
      animation-duration: 0.4s;
      visibility: hidden;
    }
  }
  &.slide-out {
    .main-nav-wrapper {
      animation: slide-out-sidebar;
      animation-duration: 0.4s;
      visibility: visible;
    }
    .shadow {
      transition: ease-in-out 0.4s;
      visibility: visible;
    }
  }
  .shadow {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 20;
    height: 100vh;
  }
  .main-nav-wrapper {
    width: 80%;
    background-color: white;
    position: absolute;
    z-index: 21;
    height: 100vh;
    .nav-bg {
      position: absolute;
      background-image: url('../images/nav-bg.png');
      background-repeat: no-repeat;
      opacity: 0.03;
      height: 100vh;
      position: 1;
      width: 100%;
    }
    .nav-content {
      position: absolute;
      position: 2;
      padding: 20px;
      .ion-back-icon {
        font-size: 25px;
        color: black;
        &:before {
          font-family: "Ionicons";
          content: "\f2ca";
        }
      }
      .menu {
        list-style-type: none;
        padding-left: 0 !important;
        font-weight: bold;
        line-height: 50px;
        color: #4b4b4b;
        letter-spacing: 2px;
        .item > a {
          color: black;
          font-size: 12px;
        }
      }
    }
  }
}
