.about-section {
  padding-top: 10px;
  .intro-images {
    overflow-x: scroll;
  }
  & > .title {
    font-family: "Helvetica Neue", sans-serif !important;
    font-size: 48px;
    font-weight: 200;
    margin-bottom: 0;
  }
  & > .summary {
    font-size: 17px;
    color: #707070;
  }
  .edu-item {
    margin-bottom: 10px;
    & > .icon:before {
      font-family: "Ionicons";
      content: "\f357";
      font-size: 36px;
      margin-right: 15px;
      vertical-align: middle;
    }
    .content {
      display: inline-block;
      vertical-align: middle;
      & > .title {
        font-size: 18px;
        display: inline-block;
        margin-bottom: 0;
      }
      & > .summary {
        display: inline-block;
        color: #767676;
      }
    }
  }
}