.about-section {
  padding-top: 10px;
  .intro-images {
    margin-left: -20px;
    margin-top: -50px;
    width: calc(100% + 40px);
    .main-images {
      .thumb {
        width: 100%;
        height: 40vh;
        background-image: url("http://i.imgur.com/vUEDrtE.jpg");
        background-size: cover;
        background-position: center;
      }
    }
    .queue-images {
      .thumb {
        width: 300px;
        height: 200px;
        background-image: url(http://i.imgur.com/vUEDrtE.jpg);
        background-size: cover;
        background-position: center;
        border: 1px solid rgba(255, 255, 255, 1);
        outline: 1px solid #e0e0e0;
        border-left: 0;
      }
    }
  }
  & > .title {
    font-family: "Helvetica Neue", sans-serif !important;
    font-size: 48px;
    font-weight: 200;
    margin-bottom: 0;
  }
  & > .summary {
    font-size: 17px;
    color: #707070;
  }
  .edu-item {
    margin-bottom: 10px;
    & > .icon:before {
      font-family: "Ionicons";
      content: "\f357";
      font-size: 36px;
      margin-right: 15px;
      vertical-align: middle;
    }
    .content {
      display: inline-block;
      vertical-align: middle;
      & > .title {
        font-size: 18px;
        display: inline-block;
        margin-bottom: 0;
      }
      & > .summary {
        display: inline-block;
        color: #767676;
      }
    }
  }
}