<div class="mobile-top-menu">
    <div class="menu-title">
        <span class="ion-menu-icon"></span>
        <div class="thumb"></div>
        <div class="content">
            <h2 class="title">JADE <b>YEOM</b></h2>
            <small class="summary">不狂不及 - EXPERIMENT, FAIL, LEARN, REPEAT.</small>
        </div>
    </div>
</div>
<header class="content-header">
    <div class="ui secondary pointing menu">
        <% if(page.layout == "post") { %>
        <a class="ui item back" href="/index.html">
            <i class="angle left icon"></i> POSTS
        </a>
        <% } else { %>
        <a class="active <%- page.layout == undefined ? 'active' : '' %> item" href="/index.html">
            POSTS
        </a>
        <% } %>
        <a class="item" href="/about">
            ABOUT
        </a>
        <a class="item" href="/photos">
            PHOTOS
        </a>
        <a class="item" href="/projects">
            PROJECTS
        </a>
    </div>
</header>