<nav class="main-nav">
    <div class="main-nav-wrapper">
        <section class="profile-box">
            <div class="thumb"></div>
            <h3 class="name"><img class="logo" src="/images/narinlogo.svg">JADE <b>YEOM</b></h3>
            <div class="divider"></div>
            <p class="comment">不狂不及<br>EXPERIMENT, FAIL, LEARN, REPEAT.</p>
            <p class="social">
                <a class="item twitter" href="twitter.com/endless_hack"></a>
                <a class="item facebook" href="twitter.com/endless_hack"></a>
                <a class="item instagram" href="twitter.com/endless_hack"></a>
                <a class="item github" href="twitter.com/endless_hack"></a>
                <a class="item dribbble" href="twitter.com/endless_hack"></a>
            </p>
        </section>
        <footer class="nav-footer">
            <p>Designed by <b>JADE YEOM</b></p>
            <p>hosted on<a> <a class="item github" href="twitter.com/endless_hack"></a> Github Page</a></p>
        </footer>
    </div>
</nav>
<nav class="main-nav-m slide-in">
    <div class="shadow"></div>
    <div class="main-nav-wrapper">
        <div class="nav-bg"></div>
        <div class="nav-content">
            <span class="ion-back-icon"></span>
            <ul class="menu">
                <li class="item"><a>POSTS</a></li>
                <li class="item"><a>ABOUT</a></li>
                <li class="item"><a>PHOTOS</a></li>
                <li class="item"><a>PROJECTS</a></li>
            </ul>
        </div>
    </div>
</nav>